html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #191919;
    color: white;
    overflow-wrap: break-word;
}

.codebox {
    background-color: #252525;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #262626;
    font-family: 'Inconsolata', monospace;
}

hr {
    border: 0;
    border-bottom: 1px solid #606060;
    margin: 10px 0;
}

.button {
    background-color: #252525;
    border: 1px solid #262626;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'Inconsolata', monospace;
    transition: all 0.5s ease-in-out;
}

.button:hover {
    background-color: #8a8a8a;
    border: 1px solid #252525;
    color: black;
    transition: all 0.5s ease-in-out;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input {
    color: #909090;
    background-color: #191919;
    border-radius: 5px;
    border: 1.5px solid #262626;
    padding: 5px 10px;
    font-size: 14px;

    outline-width: 0px;
    outline-style: solid;
    outline-color: #262626;

    font-family: 'Inconsolata', monospace;
    transition: all 0.3s ease-in-out;
}

input:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: gray;
    transition: all 0.3s ease-in-out;
}

a {
    color: gray;
    background-color: transparent;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.lowerleft {
    margin-bottom: 3px;
    margin-left: 1px;
    position: fixed;
    bottom: 0;
    color: white;
}

.lowerRight {
    margin-bottom: 5px;
    margin-right: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
}

.upperRight {
    margin-top: 5px;
    margin-right: 2px;
    position: absolute;
    top: 0;
    right: 0;
}

button {
    font-size: 14px;
    font-family: 'Inconsolata', monospace;
    transition: all 0.3s ease-in-out;
    background-color: #191919;
    color: #909090;
    border: 1px solid #262626;
    text-align: center;
    line-height: 4px;
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 30px;
    border-radius: 5px;
}

button:hover {
    background-color: #8a8a8a;
    border: 1px solid #252525;
    color: black;
    transition: all 0.3s ease-in-out;
}