<html>

<head>
    <title>{{ coinSymbolLower }}Scan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/redir.js"></script>
    <script src="https://kit.fontawesome.com/e9230a7663.js" crossorigin="anonymous"></script>
</head>

<body>
    <h1><a href="/" class="a">{{ coinSymbolLower }}Scan <i class='fab fa-ethereum'></i></a></h1>
    More info about smart contracts:
    <p class="codebox">
        A smart contract is a program that is deployed in the blockchain and ran in an EVM. <br>
        Each such program has its own address, that looks like an Ethereum address. <br>
        When a smart contract is being deployed, it does not have an address and you send coins to None, which may be
        strange for you. <br>
        To remove any complains about the lack of address, we have written this small explanation. <br>
    </p>
</body>

</html>