<html>
    <head>
        <title>ResinScan</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/redir.js"></script>
        <script src="https://kit.fontawesome.com/e9230a7663.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1><a href="/" class="a">ResinScan <i class='fab fa-ethereum'></i></a></h1>
        <!--
        <input type="text" id="blockNumber" placeholder="Search for a block number...">
        <button id="search" onclick="redirBlock()">Search</button> <br>
        <input type="text" id="txHash" placeholder="Search for a transaction...">
        <button id="search" onclick="redirTxHash()">Search</button> <br>
        <input type="text" id="address" placeholder="Search for an address...">
        <button id="search" onclick="redirAddress()">Search</button> <br>
        <p>Current number of blocks in the network: <a href=/block/{{ latestBlock }}>{{ latestBlock }}</a></p>
        -->
        <div>
        <form method="POST" class="center">
            <input name="text" placeholder="Search for an address, block number or transaction..." size="50">
        </form>
    </body>
</html>