<html>

<head>
    <title>{{ coinSymbolLower }}Scan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/redir.js"></script>
    <script src="https://kit.fontawesome.com/e9230a7663.js" crossorigin="anonymous"></script>
</head>

<body>
    <h1><a href="/" class="a">{{ coinSymbolLower }}Scan <i class='fab fa-ethereum'></i></a></h1>
    List of all transactions for block {{ number }}:
    {% for transaction in transactions %}
    {% if transaction == "None" %}
    <p class="codebox">No transactions found.</p>
    {% else %}
    <p class="codebox"><a href='/hash/{{ transaction }}'>{{ transaction }}</a><br></p>
    {% endif %}
    {% endfor %}
    </p>
</body>

</html>