<html>
    <head>
        <title>{{ coinSymbolLower }}Scan</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/redir.js"></script>
        <script src="https://kit.fontawesome.com/e9230a7663.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1><a href="/" class="a">{{ coinSymbolLower }}Scan <i class='fab fa-ethereum'></i></a></h1>
        Transaction {{ txHash }}:
        {% if txTo[1] == "c" %}
            <p class="codebox">
                From:  <a href="/account/{{ txFrom }}">{{ txFrom }}</a> <br>
                Creates: <a href="/account/{{ txTo[0] }}">{{ txTo[0] }}</a> (Contract address) <br>
                Value: {{ txValue }} {{ coinSymbol }} <br>
                Gas used: {{ txGas }} <br>
                Gas price: {{ txGasPrice }} {{ coinSymbol }} <br>
                Status: {{ txStatus }} <br>
            </p>
        {% else %}
            <p class="codebox">
                From: <a href="/account/{{ txFrom }}">{{ txFrom }}</a> <br>
                To: <a href="/account/{{ txTo }}">{{ txTo }}</a> <br>
                Value: {{ txValue }} {{ coinSymbol }} <br>
                Gas used: {{ txGas }} <br>
                Gas price: {{ txGasPrice }} {{ coinSymbol }} <br>
                Status: {{ txStatus }} <br>
            </p>
        {% endif %}
        
    </body>
</html>